* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sono';
    
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
    background-image: url('./assets/galaxia.jpg')  ; 
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
a {
    color:white
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 125px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 99;

}

.logo {
    display: inline-block;
    color: white;
    align-items: center;
    font-family: 'Sono';
    

}


.navigation  a {
   position: relative;
   font-size: large;
   color: white;
   text-decoration: none;
   font-weight: 600;
   margin-left: 40px;
   font-family: 'Sono';

}
    


.button-nav {
    padding: 12px 40px;
    border-radius: 8px;
    border: 1px solid purple ;
    background-color: transparent;
    color: white;
    margin-left: 40px;
    

    gap: 5px;


    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    transition: .5s;
    font-family: 'Sono';
}

.button-nav:hover {
    background-color: blueviolet;

}






@media (max-width:900px) {
       .navigation a {
        display: none;
    }

}
