* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sono';
    
    
}


body {
    background-image: url('./assets/galaxia.jpg')  ; 
    background-size: cover ;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 99;
}

.logo {
    display: inline-block;
    color: white;
    align-items: center;
    

}


.navigation  a {
   position: relative;
   font-size: large;
   color: white;
   text-decoration: none;
   font-weight: 600;
   margin-left: 40px;

}
    


button {
    padding: 12px 40px;
    border-radius: 8px;
    border: 1px solid purple ;
    background-color: transparent;
    color: white;
    

    gap: 5px;


    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}



@media (max-width:850px) {
       .navigation a {
        display: none;
    }

}
